:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-gray: #dfdfdf;

  /* size */
  --size-font: 24px;
  --size-btnImg: 80px;
  --size-boxpadding: 16px;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn,
.logo {
  cursor: pointer;
  transition: transform 200ms ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.btn:active,
.logo:active {
  transform: scale(1.05);
}

.btn {
  background-color: transparent;
  border: none;
  margin-right: var(--size-boxpadding);
}

.btn img {
  width: var(--size-btnImg);
  height: var(--size-btnImg);
}

.buttons {
  display: flex;
  align-items: center;
}

.colorBtn {
  padding: var(--size-boxpadding);
  font-size: var(--size-font);
  border-radius: 10px;
}

.blueBtn {
  background-color: var(--color-blue);
}

.yellowBtn {
  background-color: var(--color-yellow);
}

.pinkBtn {
  background-color: var(--color-pink);
}

.items {
  list-style: none;
  width: 60%;
  height: 60%;
  padding: 0%;
  overflow-y: scroll;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: calc(var(--size-boxpadding) * 0.5) calc(var(--size-boxpadding));
  background-color: var(--color-light-gray);
  border-radius: 10px;
}

.itemImage {
  width: calc(var(--size-btnImg) * 0.5);
  height: calc(var(--size-btnImg) * 0.5);
  padding: calc(var(--size-btnImg) * 0.2);
}

.itemText {
  font-size: calc(var(--size-font));
}

.hidden {
  display: none;
}
